body{
    background: #FBFFFF;
    margin: auto;
    max-width: 45em;
    font-family: Montserrat;
}

h1 {
    color: #0089FF; 
    padding: 0 15px 0 15px;
}

header{
    padding: 1rem;
    box-shadow: 0 2px 4px #0089FF;
    background: #FBFFFF;
    border-color: #2066A2;
}

header input{
    color:#707070;
    text-indent: 1.5rem;
    padding:0 60px 0 0;
    background: #FBFFFF;
    border-radius: 5px 25px 25px 5px;
    border:0;
    height: 2rem;
    width: 90%;
}

header button{
    border-radius: 5px;
    background: #0089FF;
    border:0;
    height:2rem;
    width:5rem;
    cursor: pointer;
    margin: -5rem;
    color:#FBFFFF
}

